<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <title>Tap Django</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
      rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}">Home</a> |
      <a href="{% url 'about' %}">About</a>
    </header>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form></p>
    {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">Log In</a></p>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
